@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --textColor: white;
    --secondaryTextColor: #666666;
    --mainColor: rgb(225, 50, 50);
    --lighterMainColor: rgb(225, 85, 85);
    --darkerMainColor: rgb(196, 61, 61);
    --backgroundColor: rgb(250, 250, 250);
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--backgroundColor);
}

a {
    -webkit-user-drag: none;
}

header {
    margin-top: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pageHeaders {
    margin-top: 6vw;
}

h1 {
    font-size: 45px;
}

#welcomeHeader {
    font-size: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

h1, #overview p {
    color: var(--textColor);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    
}

.red {
    color: var(--mainColor);
}

.bold {
    font-weight: bold;
}

#overview, #projectContainer {
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

#overview p {
    font-size: 35px;
    font-weight: bold;
    margin: 20px 0;
}

#overview img {
    width: 300px;
    height: 375px;
    object-fit: cover;
    max-width: 25vw;
    max-height: 30vw;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 12px 4px;
}

#overview img:hover, #projectContainer img:hover {
    transition: all ease-out .2s;
    scale: 1.04;
    box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 22px 8px;
}

#overview img:active, #projectContainer img:active {
    scale: 1;
    transition: 0.1s;
}

footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

footer p {
    color: var(--secondaryTextColor);
    margin: 8px;
    font-size: 15px;
}

hr {
    opacity: 0.4;
    margin-top: 40px;
    margin-bottom: 0;
}

nav {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
}

nav ul {  
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: var(--textColor);
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

nav a:hover {
    color: var(--mainColor);
    transition: .3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

nav.sticky {
    background-color: var(--darkerMainColor);
    padding: 0.5%;
    transition: all ease-out 0.4s;
}



@media (max-width: 800px) {
    nav {
        padding-top: 20px;
    }

    nav ul li a {
        font-size: calc(8px + 1.5vw);
    }

    .pageHeaders {
        margin-top: 50px;
    }

    #overview, #projectContainer, #aboutMeContainer {
        flex-wrap: wrap;
        gap: 20px;
    }

    #overview img {
        max-width: 50vw;
        max-height: 60vw;
    }
    
    h1 {
        font-size: calc(25px + 3vw) ;
    }

    #welcomeHeader {
        font-size: calc(40px + 2vw);
    }

    #overview p {
        font-size: calc(20px + 2vw);
    }
}