@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --mainColor: #297AE3;
   --primaryColor: #15171C;
   --secondaryColor: #232933; 
   --lightSecondaryColor: #2E3744;
   --textColor: white;
   --sceondaryTextColor: #B3B4B6;
}

html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgb(194, 139, 36);
    border: 1px solid rgb(155, 110, 28);
    box-shadow: inset 0 0 6px rgba(129, 92, 23, 0.3);
}

html::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #363636;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primaryColor);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    font-size: 20px;
    color: var(--textColor);
    background-image: url(./assets/images/blackWhiteLines.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;  
    transition: 0.5s;
    padding: 2% 0;
}

nav ul {  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 200px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--sceondaryTextColor);
}

.projectContainer a {
    text-decoration: none;
    color: var(--textColor);
}

nav ul li a:hover {
    color: white;
}

nav a {
    position: relative;
}

nav a::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 150ms ease-in-out;
    
}

nav a:hover::after {
    width: 100%;
    background-color: white;
}

nav.sticky {
    background-color: rgb(194, 139, 36);
    padding: 0.7% 0;

}

#navUl.sticky {
    background-color: rgba(0, 0, 0, 0.0);;
}

nav.sticky a {
    transition: ease-in 0.2s;
    color: rgb(61, 61, 61);
}

nav.sticky ul li a:hover {
    /* color: black; */
}

nav.sticky a::after {
   /*  background-color: black; */
}

header {
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap; 
}


.headerText {
    width: 850px;
}

.portrait {
    height: 500px;
    width: 500px;
    max-width: 25vw;
    max-height: 25vw;
    overflow: hidden;
    border-radius: 50%;
    border: solid 10px rgb(212, 151, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px
}

.portrait img {
    height: 100%;
}

h1 {
    font-size: 80px;
}

.subheader, .aboutText, .infoText {
    margin-top: 25px;
    color: var(--sceondaryTextColor);
}

#about {
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0.2) 95%, rgba(0, 0, 0, 0.0) 100%);
}

#projects {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/images/blackOrangeCode.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#projects h2 {
    margin-bottom: 50px;
}

#projectBorderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    
}

.projectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.projectContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    max-height: 70vw;  
    color: var(--sceondaryTextColor);
}

.projectContent img {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    border: solid 2px rgb(212, 151, 37);
    border-radius: 1.5rem;
}

.projectContent a {
    margin: 10px;
}

.projectTextLink {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
    border-radius: 0.8rem;
}

footer {
    padding: 100px 200px 25px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.7) 90%, rgba(0, 0, 0, 0.6));
}

.infoText {
    display: flex;
    margin-bottom: 50px;  
    width: 850px;
}

.infoLinks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 800px;
    gap: 5px;
}

.headerText, .aboutText, .infoText {
    line-height: 175%;
}







@media (max-width: 800px) {
    nav {
        justify-content: center;
    }

    nav ul {
        margin-left: 0;
        gap: 50px;
        padding-left: 0;
    }

    nav a {
        font-size: calc(18px +1.5vw);
    }

    header {
        padding: 50px;
        text-align: center;
    }

    .projectContent Img  {
        width: 70%;
    }

    #about, footer {
        padding: 50px;
    }

    h1 {
        font-size: calc(40px + 0.9vw);
        margin-top: 25px;
    }

    .portrait {
        border: solid 8px var(--mainColor);
    }

    .headerText, .aboutText, .infoText {
        line-height: 120%;
    }

    .infoLinks, .infoText {
        width: 100%;
    } 
}

@media (max-width: 550px) {
    nav ul {
        gap: 25px;
    }

    nav a {
        font-size: calc(12px + 0.9vw);
    }

    .projectContent a {
        font-size: calc(12px + 0.9vw);
    }
}

@media (max-width: 1020px) {
       h1 {
            font-size: calc(40px + 0.9vw);
        }

    .projectContent a {
        margin: 5px;
    }

    .projectContainer {
        gap: 25px;
    }

    .infoLinks, .infoText {
        width: 100%;
    } 
}

#home {
    opacity: 0;
}

#home.show {
    opacity: 1;
}
